extends layout

block content
  div.container.justify-content-center
    h1.display-2.text-success.text-center= title
    div.row.justify-content-center
      div.row-auto
        h3.text-center Who are we and what do we do?
    div.row.justify-content-center
      img#spotLightImage.rounded(alt='image' width="500px")
      div.row-auto.demo#demo.rounded